[user]
    name = João Carlos Ferra de Almeida
    email = jcfd.almeida@campus.fct.unl.pt
	signingkey = F52826A2E2C9A08A\n3E5039B0E24F5738\nCF9D465B15A6EBAC

[core]
    editor = nvim
    pager = delta
	excludesfile = /Users/almeijoa/.gitignore_global

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    light = false
    side-by-side = true

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[alias]
    co = checkout
    br = branch
    ci = commit
    st = status
    lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[includeIf "gitdir:~/personal"]
	path = /Users/almeijoa/.gitconfig-personal
[includeIf "gitdir:~/work"]
	path = /Users/almeijoa/.gitconfig-work
[commit]
	gpgsign = true
